<div class="owl-carousel owl-theme hero-carousel">
  {% for block in blocks %}
    {% if block.settings.product != blank %}
      <div class="item">
        <div class="hero-image-placeholder">
          <img
            src="{{ block.settings.product.featured_image | img_url: 'master' }}"
            alt="{{ block.settings.product.title }}"
            width="400"
            height="auto"
          >
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
<style>
  .hero-image-placeholder {
    position: relative;
    width:100%;
    max-height: 90%;
    max-width: 400px;
    background-color: #C8D6CA;
    overflow:hidden;
  }
  .hero-image-placeholde img{
    object-fit:cover;
  }


  @media screen and (min-width: 1140px){
      .owl-item:not(.active) {
          transform: scale(0.8) translateX(-53%);
      }
  }
  @media screen and (min-width: 1140px){
    .owl-carousel .owl-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 7px;
        transition: all 0.4s linear;
        z-index: 1;
    }
  }
   .owl-carousel .owl-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 7px;
      transition: all 0.3s ease-in-out;
  }
  .owl-item.active {
    z-index: 5;
    }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function(){
        $(".hero-carousel").owlCarousel({
          items: 1,
          loop: true,
          margin: 10,
          autoplay: false,
          autoplayTimeout: 3000,
          autoplayHoverPause: true,
          nav: false, // Set to true if navigation buttons are needed
          navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
          dots: false,
          responsive: {
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
          }
        });
  });
</script>
