<div class="owl-carousel owl-theme hero-carousel">
  {% for block in blocks %}
    {% if block.settings.product != blank %}
      <div class="item">
       
          <img
            src="{{ block.settings.product.featured_image | img_url: 'master' }}"
            alt="{{ block.settings.product.title }}"
            width="auto"
            height="700"
          >
  
      </div>
    {% endif %}
  {% endfor %}
</div>
<style>
   .hero-carousel .item{
     max-width: 450px;
     max-height: 90%;
     height: 65vh;
     width: 100%;
   }
   
  .hero-carousel .item img{
    width: 100%;
    height:100%;
    object-fit:cover;
  }
  
  .owl-carousel.hero-carousel .owl-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      padding: 7px;
      transition: all 0.3s ease-in-out;
  }
  .hero-carousel .owl-dots{
    display:none;
  }
  @media screen and (max-width: 768px){
   .hero-carousel  .item{
       height: 390px;
       max-width:300px;
     }
   .hero-carousel .owl-dots{
        display:block;
    }
   }
  @media screen and (min-width: 1140px){
     .hero-carousel .owl-item:not(.active) {
          transform: scale(0.8) translateX(-83%);
      }
  }
  @media screen and (min-width: 1140px){
    .owl-carousel.hero-carousel .owl-item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 7px;
        transition: all 0.4s linear;
        z-index: 1;
    }
  }
  .hero-carousel .owl-item.active {
      z-index: 5;
  }
  
  
</style>
<script>
  document.addEventListener("DOMContentLoaded", function(){
        $(".hero-carousel").owlCarousel({
          items: 1,
          loop: true,
          margin: 10,
          autoplay: true,
          autoplayHoverPause: true,
          nav: false, 
          navText: ["<i class='fa fa-chevron-left'></i>","<i class='fa fa-chevron-right'></i>"],
          dots: true,
          responsive: {
            0:{
                items:1
            },
            600:{
                items:1
            },
            1000:{
                items:1
            }
          }
        });
  });
</script>
