{% schema %}
{
  "name": "Custom Footer",
  "settings": [],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Column Title"
        },
        {
          "type": "link_list",
          "id": "links",
          "label": "Links"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div class="container">
  {% for block in section.blocks %}
    <div class="col-md">
      <h4>{{ block.settings.title }}</h4>
      <ul>
        {% for link in block.settings.links.blocks %}
          <li>
            {% if link.settings.icon %}
              <i class="{{ link.settings.icon }}"></i>
            {% endif %}
            <a href="{{ link.settings.url }}">{{ link.settings.label }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>