{% schema %}
{
  "name": "Custom Testimonial",
  "settings": [],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "text",
          "id": "author",
          "label": "Author Name",
          "default": "Alexandro Sams贸in"
        },
        {
          "type": "text",
          "id": "location",
          "label": "Location",
          "default": "Las Vegas, Montana"
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Quote",
          "default": "Lorem ipsum dolor sit amet consectetur. Maecenas lacus dui integer et tempor sodales varius vulputate elementum. Neque quam."
        },
        {
          "type": "range",
          "id": "rating",
          "label": "Rating",
          "min": 1,
          "max": 5,
          "step": 0.1,
          "default": 4.8
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Testimonials",
      "category": "custom"
    }
  ]
}
{% endschema %}
<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2>What Our Customer Say</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Mi eros nunc orci facilisi urna. Eu est mi diam odio blandit.</p>
      </div>
    </div>
    <div class="owl-carousel">
      <div class="item">
        <div class="testimonial">
          <div class="testimonial-rating">
            <i class="fa fa-quote-left"></i>
            <p>Alexandro Sams贸in</p>
            <p>Las Vegas, Montana</p>
            <p class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o checked"></span>
              <span>4.8</span>
            </p>
          </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet consectetur. Maecenas lacus dui integer et tempor sodales varius vulputate elementum. Neque quam."</p>
          </div>
        </div>
      </div>
       <div class="item">
        <div class="testimonial">
          <div class="testimonial-rating">
            <i class="fa fa-quote-left"></i>
            <p>Alexandro Sams贸in</p>
            <p>Las Vegas, Montana</p>
            <p class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o checked"></span>
              <span>4.8</span>
            </p>
          </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet consectetur. Maecenas lacus dui integer et tempor sodales varius vulputate elementum. Neque quam."</p>
          </div>
        </div>
      </div>
       <div class="item">
        <div class="testimonial">
          <div class="testimonial-rating">
            <i class="fa fa-quote-left"></i>
            <p>Alexandro Sams贸in</p>
            <p>Las Vegas, Montana</p>
            <p class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star-half-o checked"></span>
              <span>4.8</span>
            </p>
          </div>
          <div class="testimonial-content">
            <p>"Lorem ipsum dolor sit amet consectetur. Maecenas lacus dui integer et tempor sodales varius vulputate elementum. Neque quam."</p>
          </div>
        </div>
      </div>
    
    </div>
    <div class="text-center">
      <a href="#" class="btn">View More</a>
    </div>
  </div>
</section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
document.addEventListener("DOMContentLoaded", function(){
    $(".testimonials .owl-carousel").owlCarousel({
        items: 3,
        margin: 30,
        loop: true,
        dots: true,
        responsive : {
          0 : { items: 1 },
          768 : { items: 2 },
          992 : { items: 3 }
        }
      });
    });
});
{% endjavascript %}

