{% schema %}
{
  "name": "Custom Best Sellers",
  "settings": [
      {
          "type": "color_scheme",
          "id": "scheme_selector",
          "label": "Scheme Number"
        }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product Card",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ],
      "limit": 4
    }
  ],
  "presets": [
    {
      "name": "Best Sellers",
      "category": "Custom"
    }
  ]
}
{% endschema %}


<div class="best-sellers-section container  color-{{ section.settings.scheme_selector }} ">
  <h2>Best Sellers Section</h2>
  <p>Lorem ipsum dolor sit amet consectetur. Adipiscing purus commodo nulla cras pulvinar ante at magna.</p>
  <div class="row">
    {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product] %}
      <div class="col-md-3">
        {% include 'product-custom-normal', product: product %}
      </div>
    {% endfor %}
  </div>
</div>