{% schema %}
  {
    "name": "Custom Best Sellers",
    "settings": [
        {
            "type": "color_scheme",
            "id": "scheme_selector",
            "label": "Scheme Number"
        }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product Card",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ],
        "limit": 4
      }
    ],
    "presets": [
      {
        "name": "Best Sellers",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  <style>
    #shopify-section-{{section.id}}, .best-sellers-section{
      text-align:center;
      background:rgb(var(--color-background-3)) !important;
    }
     #shopify-section-{{section.id}} h2 {
       color: rgb(var(--color-foreground_3));
     }
     #shopify-section-{{section.id}} p{
       color: #888888;
       max-width: 550px;
     }
    .grid-container-product{
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 30px;
      margin-bottom: 45px;
    }
    .grid-item{
      display:flex;
      justify-content:center;
      align-items:center;
      height:200px;
      background:gray;
      grid-column: span 3;
    }
    .grid-item:nth-child(2){
      grid-column: span 7;
    }
    .grid-item:nth-child(5){
      grid-column: span 6;
    }
  </style>
  
  <div class="best-sellers-section section-100vh mb-5 color-{{ section.settings.scheme_selector }}">
    <div class="container d-flex justify-content-center flex-column align-items-center">
      <h2 style="margin-bottom:45px;">Best Sellers Section</h2>
      <p style="margin-bottom:45px;">Lorem ipsum dolor sit amet consectetur. Adipiscing purus commodo nulla cras pulvinar ante at magna.</p>
      <div class=" grid-container-product">
        {% for block in section.blocks %}
          {% assign product = all_products[block.settings.product] %}
        
             <div class="grid-item">Hola</div>
          
        {% endfor %}
      </div>
    </div>
  </div>