{% schema %}
  {
    "name": "Custom Show Payment",
    "blocks": [
      {
        "type": "payment_method",
        "name": "Método de Pago",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "Title",
            "label": "Title"
          }
        ]
      }
    ],
    "max_blocks": 4,
    "presets": [
      {
        "name": "Custom Show Payment",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
  <div class="text-center payment_methods py-5 container-fluid">
    <h2 class="pb-5" style="color:rgb(var(--color-foreground_3))">Available payment methods</h2>
    <div class="row page-width">
      {% for block in section.blocks %}
        <div class="col-md-3">
          <div class="payment-method d-flex flex-column align-items-center">
            <img src="{{ block.settings.image | img_url: 'medium' }}" alt="{{ block.settings.Title }}">
            <h3>{{ block.settings.Title }}</h3>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <style>
    .payment_methods {
      background-color: white;
    }
    .payment-method {
      padding: 20px;
      background-color: rgb(var(--color-background_2));
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .payment-method img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
    .payment-method h3 {
      color: rgb(var(--color-foreground_3));
      font-size: 20px;
      font-weight: 600;
      margin-top: 10px;
    }
  </style>