{% schema %}
{
  "name": "Custom Best Sellers",
  "settings": [
      {
          "type": "color_scheme",
          "id": "scheme_selector",
          "label": "Scheme Number"
      }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product Card",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ],
      "limit": 4
    }
  ],
  "presets": [
    {
      "name": "Best Sellers",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<style>
  #shopify-section-{{section.id}}, .best-sellers-section{
    text-align:center;
    background:rgb(var(--color-background-3)) !important;
  }
   #shopify-section-{{section.id}} h2 {
     color: rgb(var(--color-foreground_3));
   }
   #shopify-section-{{section.id}} p{
     color: #888888;
     max-width: 550px;
   }
</style>

<div class="best-sellers-section section-100vh mb-5 color-{{ section.settings.scheme_selector }}">
  <div class="container d-flex justify-content-center flex-column align-items-center">
    <h2>Best Sellers Section</h2>
    <p class="mb-5">Lorem ipsum dolor sit amet consectetur. Adipiscing purus commodo nulla cras pulvinar ante at magna.</p>
    <div class="row">
      {% for block in section.blocks %}
        {% assign product = all_products[block.settings.product] %}
        <div class="col-md-3">
          {% render 'product-custom-normal', product: product %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>