{% schema %}
{
  "name": "Custom Show Payment",
  "blocks": [
    {
      "type": "payment_method",
      "name": "Método de Pago",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Imagen del Método de Pago"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Muestra de Métodos de Pago",
      "category": "Custom"
    }
  ]
}
{% endschema %}
<div class="text-center">
  <h2>Métodos de Pago</h2>
  <div class="row">
    {% for block in section.blocks %}
    <div class="col">
      <img src="{{ block.settings.image | img_url }}" alt="Método de Pago">
    </div>
    {% endfor %}
  </div>
</div>