<style>
  .my-popup-modal {
   position: fixed;
    bottom: 10px;
    left: -350px;
    padding: 20px;
    /* border-radius: 5px; */
    background: rgb(var(--color-background-3));
    box-shadow: rgb(0 0 0 / 18%) 0px 5px 15px;
    width: 300px;
    transition: all 600ms;
    z-index: 100;
    color: rgb(var(--color-background));
    font-weight: bold;
    font-size: 12px;
  }

  .my-popup-modal img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;
  }

  .my-popup-modal__content {
    display: flex;
    align-items: center;
  }
  .my-popup-modal__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
  }
  .my-popup-modal__name {
	font-size: 15px;
	color: var(--secondary-dak);
  }
  a.my-popup-modal__link {
    color: rgb(var(--color-button));
    text-decoration: none;
}
.hide-popup{
    animation: hide-popup 1s forwards;
}
@keyframes hide-popup{
    0%{
        left: 90px;
    }
    99%{
        left: -350px;
    }
    100%{
        display: none;
    }
}
</style>

<div class="my-popup-modal" id="my-popup-modal">
  <div class="my-popup-modal__content">
    <div class="my-popup-modal__close"><i class="fa fa-times"></i></div>
    <img class="my-popup-modal__img" src="https://via.placeholder.com/50" alt="Profile Picture">
    <div>
      <h5 class="my-popup-modal__name">John Doe</h5>
      <a class="my-popup-modal__link" href="#">View More</a>
    </div>
  </div>
</div>

<script>
  const produts = [
      {% for product in section.settings.popup_product_list %}
      {
        name:'{{ product.title }}',
        image:'{{ product.featured_image | img_url: 'medium' }}',
        link:'{{ product.url }}'
      },
    {% endfor %}
      ];
  const myPopup = document.getElementById('my-popup-modal');
  const popupclose = document.querySelector('.my-popup-modal__close');


  function getRandomName() {
    const index = Math.floor(Math.random() * produts.length);
    return produts[index];
  }

  function showModal() {
    let objectProduct = getRandomName();
    document.querySelector('.my-popup-modal__img').src = objectProduct.image;
    document.querySelector('.my-popup-modal__name').innerHTML = objectProduct.name;
    document.querySelector('.my-popup-modal__link').href = objectProduct.link;
    myPopup.style.left = '90px';
    myPopup.classList.remove('hide-popup');
    setTimeout(() => {
      myPopup.style.left = '-350px';
    }, 155555000); 
  }

  function scheduleModal() {
    setTimeout(() => {
      showModal();
      scheduleModal();
    }, 12000);
  }


  scheduleModal();
  popupclose.addEventListener('click',()=>{
    myPopup.classList.add('hide-popup');
    
  })
</script>

{% schema %}
{
  "name": "Popup Social",
  "settings": [
    {
      "type": "product_list",
      "id": "popup_product_list",
      "label": "Productos",
      "limit": 12
    }
  ],
  "presets":[
    {
      "name": "Popup Sales",
      "category": "custom"
    }
  ]
}
{% endschema %}
