{% schema %}
  {
    "name": "Custom Policy",
    "settings": [
      {
        "type": "select",
        "id": "policy",
        "label": "Policy",
        "options": [
          {
            "value": "privacy_policy",
            "label": "Privacy Policy"
          },
          {
            "value": "terms_of_service",
            "label": "Terms of Service"
          },
          
          {
            "value": "refund_policy",
            "label": "Refund Policy"
          },
          {
            "value": "shipping_policy",
            "label": "Shipping Policy"
          }
        ]
      }
    ],
    "presets":[
      {
        "name": "Custom Policy",
        "category": "custom"
      }
    ]
  }
{% endschema %}

<div class="container py-5">
  <div class="row">
    <div class="col-12" style="color:black;">
      {% if section.settings.policy == 'privacy_policy' %}
       {{ shop.privacy_policy.body }} 
      {% elsif section.settings.policy == 'terms_of_service' %}
        {{ shop.terms_of_service.body }}
      {% elsif section.settings.policy == 'refund_policy' %}
        {{ shop.refund_policy.body }}
        {% elsif section.settings.policy == 'shipping_policy' %}
          {{ shop.shipping_policy.body }}
      {% endif %}
  </div>
</div>