body, html{
  background:white!important;
}
.best-sellers-section {
  overflow-x:hidden;
}
a:hover{
  text-decoration:none!important;
}
p{
  text-decoration:none!important;
}

/* HERO SUBPAGES */

.breadcrumb-area.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; 
}

.men.breadcrumb-area.bg-overlay::after {
  background: var(--subpage-overlay_men);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.breadcrumb-item.not-active:hover a{
  color:rgb(var(--color-foreground_2))!important;
}
.women.breadcrumb-area.bg-overlay::after {
  background: var(--subpage-overlay_women);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
 .breadcrumb-item + .breadcrumb-item::before{
   color:white!important;
 }
/* Buttons */
.grecaptcha-badge{
  display:none!important;
}
.owl-dot.active span{
  background:rgb(var(--color-background-2))!important;
}
.btn, .button--secondary {
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  color: rgb(var(--color-button-text));
  font-size: 16px;
  display: inline-block;
  margin: 5px;
  box-shadow:none;
  min-width:150px;
  text-align:center;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}

.btn-primary-outline::after, .button--secondary::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(var(--color-button), 1);
  transition: all 0.5s ease-in-out;
  z-index: -1!important;
  transform: translate(-50%, -50%);
}
.btn-primary-outline {
  background-color: transparent;
  border: solid 2px rgb(var(--color-button));
  color: rgb(var(--color-button));
  
}
.btn-primary-outline:hover, .button--secondary:hover {
   color: #fff;
  border:solid 2px rgb(var(--color-button));
}
.btn-primary-outline:hover::after, .button--secondary:hover:after {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
}


.btn-primary {
  background-color: rgb(var(--color-button));
  position: relative;
  overflow: hidden; 
  border: 1px solid rgb(var(--color-link));
}

.btn-primary::after {
  content: "";
  background: rgb(var(--color-background));
  position: absolute;
  z-index: 0;
  padding: 16px 20px;
  display: block;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.3s ease;
}
.btn-primary:hover::after {
  transition: all 0.4s ease-out;
  transform: skewX(-45deg) scale(1, 1);
}

.btn-primary.hover-white:hover{
  color:rgb(var(--color-button));
}
.btn-primary.hover-white:after{
  background:white;
}


.btn-primary span {
    z-index: 1;
    position: relative;
}



/* TOOLTIPS */
.tooltip{
  --bs-tooltip-bg:  #d9d8d8;
  --bs-tooltip-color: black;
  border-radius: 0px;
}

.tooltip-inner{
  max-width:300px;
  font-size: 13px;
  padding: 10px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--bs-tooltip-bg);
  background:white;
  border-radius:0;
}




/* Animations */
@keyframes boxshadowtop{
  from {
    box-shadow: 0 0px 0 0 white;
  }
  to{
    box-shadow: 0 -1px 0 0 white;
  }
}



@media (max-width: 768px) {
  :root{
    --font-body-scale: 1.0!important;
  }
  .header {
    grid-template-columns: 0.5fr 2fr 1fr!important;
}
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1); 
  }
}
.pulse{
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade:not(.tooltip) {
  animation: fade 1.5s ease-in-out infinite alternate;
}
.fade-simple{
   animation: fade .5s ease-in-out;
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.swym-modal{
  animation:  fade .5s ease-in-out;
}
.slide-right {
  animation: slideRight 1s ease-in-out forwards;
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideLeft 1s ease-in-out forwards;
}

/* Sections */
.section-100vh {
  padding: 50px 0;
  max-height: calc(100vh - 160px); 
  height: 100vh;
}
@media (max-width: 768px) {
  .section-hero {
    max-height: max-content !important;
  }
}


/* CARD PRODUCTS*/

 .title-card strong{
  color:rgb(var(--color-foreground_3));
  font-size: 1.4rem;
  line-height:1;
}
.price-card{
  color: rgb(var(--color-background-2));
  font-weight: 400;
  font-family: 'Assistant';

}
 .item-cart {
  background: rgb(var(--color-background-2));
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-foreground));
  text-decoration: none;
  transition: all 0.3s ease;
}
 .item-cart[disabled] {
   background:#a1a1a1;
   border:none;
   pointer-events:none;
 }

.item-cart:hover {
  transform: scale(1.1);

}
.item-cart:active {
  transform: scale(0.9); 
}
.product-card  img{
  transition: all .3s ease-in-out;
}
.product-card:hover img{
    transform: scale(1.1);
}

/* INPUT SEARCH */
.search-modal__form .search__input {
  background: white;
  color: black;
}
.search-modal__form  .field__label{
  color: gray;
}

/* CATEGORIES */
.collection .category-image img{
  display:none;
}
.collection .category-image img.active{
  display:block;
}
 .category-image:hover img {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  .category-image img {
    transition: all 0.3s ease-in-out;
  }
  .category-image img.active {
    opacity: 1;
  }
  .category-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
/* HEADER */
.header__inline-menu span, .header__inline-menu a:not(.btn), .header-bar a{
  transition: all .3s ease-in-out!important;
}
.section-header ul span:hover, .section-header ul a:hover{
  color: rgb(var(--color-foreground_2));
}
sticky-header {
    box-shadow: 1px -7px 16px 0px #3a3939;
}
details[open]>.header__menu-item{
  text-decoration:none!important;
  color: rgb(var(--color-foreground_2));
}
.header__submenu {
      box-shadow: 0 0 4px 1px #9d999985!important;
}
/* FLOATING BUTTON */
.floating-button {
    border-radius: 0!important;
    border: solid 1px #ffffff45;
}
.float-element {
    border-radius: 0!important;
    border: solid 1px #f5f5f561;
} 
.header__icon:hover{
  transform:scale(1.1);
}
.header__icon {
  transition: all .3s ease;
}
/* PREDICTIVE SEARCH */
#predictive-search-results-groups-wrapper{
  background:white;
}
#predictive-search-results-groups-wrapper *{
  color:rgb(var(--color-foreground_2));
}
#predictive-search-results-groups-wrapper .link--text:hover{
  background: #ebebeb!important;
}
.swym-ui-components .swym-bg-2, .swym-ui-component .swym-bg-2 {
    background: rgb(var(--color-background))!important;
}
.swym-ui-component .swym-wishlist-grid .swym-wishlist-item {
    background: #f3f3f3!important;
    border: 1px solid #f3f3f3!important;
}
/* swym-heart */
.swym-heart{
  transition: all .3s ease-in-out;
  cursor:pointer;
}
.swym-heart:hover i {
  color:#e76c6c!important;
  transform:scale(1.1);
}

