body, html{
  background:white!important;
}
.best-sellers-section {
  overflow-x:hidden;
}
a:hover{
  text-decoration:none!important;
}
p{
  text-decoration:none!important;
}

/* HERO SUBPAGES */

.breadcrumb-area.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; 
}

.men.breadcrumb-area.bg-overlay::after {
  background: var(--subpage-overlay_men);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.breadcrumb-item.not-active:hover a{
  color:rgb(var(--color-foreground_3))!important;
}
.women.breadcrumb-area.bg-overlay::after {
  background: var(--subpage-overlay_women);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
 .breadcrumb-item + .breadcrumb-item::before{
   color:white!important;
 }
/* Buttons */
.grecaptcha-badge{
  display:none!important;
}
.owl-dot.active span{
  background:rgb(var(--color-background-2))!important;
}
.btn, .button--secondary {
  padding: 10px 20px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  color: rgb(var(--color-button-text));
  font-size: 16px;
  display: inline-block;
  margin: 5px;
  box-shadow:none;
  min-width:150px;
  text-align:center;
  position: relative;
  overflow: hidden;
  font-weight: 600;
}
.btn-primary-outline::after, .button--secondary::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(var(--color-button), 1);
  transition: all 0.3s ease-in-out;
  z-index: -1!important;
  transform: translate(-50%, -50%);
}
.btn-primary-outline {
  background-color: transparent;
  border: solid 2px rgb(var(--color-button));
  color: rgb(var(--color-button));
  
}
.btn-primary-outline:hover, .button--secondary:hover {
   color: #fff;
  border:solid 1px white;
}
.btn-primary-outline:hover::after, .button--secondary:hover:after {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
}
.btn:not(.no-hover):hover {
  transform: translateY(-4px);
}

.btn-primary {
  background-color: rgb(var(--color-button));
  position: relative;
  overflow: hidden; 
}
.btn-primary.hero:hover{
  overflow:visible;
}
.btn-primary.hero::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  border: solid 1px;
  transform: scale(1.04);
  height: 0;
  background-color: transparent; 
  transition: height 0.3s ease-in-out;
  z-index: 0;
  border-top:0;
  
}

.btn-primary.hero:hover::after {
  height: 100%;
  bottom:0;
  animation: boxshadowtop 0.3s forwards;
  animation-delay: 0.3s;
}

/* Animations */
@keyframes boxshadowtop{
  from {
    box-shadow: 0 0px 0 0 white;
  }
  to{
    box-shadow: 0 -1px 0 0 white;
  }
}


@media (max-width: 768px) {
  :root{
    --font-body-scale: 1.0!important;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1); 
  }
}
.pulse{
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade {
  animation: fade 1.5s ease-in-out infinite alternate;
}
.fade-simple{
   animation: fade .5s ease-in-out;
}
@keyframes slideRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRight 1s ease-in-out forwards;
}
@keyframes slideLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideLeft 1s ease-in-out forwards;
}

/* Sections */
.section-100vh {
  padding: 50px 0;
  max-height: calc(100vh - 160px); 
  height: 100vh;
}
@media (max-width: 768px) {
  .section-hero {
    max-height: max-content !important;
  }
}


/* CARD PRODUCTS*/

 .title-card strong{
  color:rgb(var(--color-foreground_3));
  font-size: 1.4rem;
  line-height:1;
}
.price-card{
  color: rgb(var(--color-background-2));
  font-weight: 400;
  font-family: 'Assistant';

}
 .item-cart {
  background: rgb(var(--color-background-2));
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--color-foreground));
  text-decoration: none;
  transition: all 0.3s ease;
}
 .item-cart[disabled] {
   background:#a1a1a1;
   border:none;
   pointer-events:none;
 }

.item-cart:hover {
  transform: scale(1.1);

}
.item-cart:active {
  transform: scale(0.9); 
}



/* INPUT SEARCH */
.search-modal__form .search__input {
  background: white;
  color: black;
}
.search-modal__form  .field__label{
  color: gray;
}

/* CATEGORIES */
.collection .category-image img{
  display:none;
}
.collection .category-image img.active{
  display:block;
}
 .category-image:hover img {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  .category-image img {
    transition: all 0.3s ease-in-out;
  }
  .category-image img.active {
    opacity: 1;
  }
  .category-image {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
/* HEADER */
.section-header span, .section-header a{
    transition: all .3s ease-in-out;
  }
