/* Product Custom Normal */
.product-card {
  border: 1px solid #e1e1e1;
  padding: 15px;
  position: relative;
  text-align: center;

  .product-image {
    position: relative;
    margin-bottom: 20px;

    img {
      width: 100%;
      display: block;
    }

    .product-image__quick-view {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .product-info {
    .product-title {
      margin: 0;
      font-size: 18px;
    }

    .product-price {
      .current-price {
        font-weight: bold;
        color: #333;
      }

      .original-price {
        text-decoration: line-through;
        color: #999;
        margin-left: 5px;
      }

      .discount-percentage {
        font-weight: bold;
        color: #d9534f;
        margin-left: 5px;
      }
    }
  }

  .product-add-to-cart {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

/* Buttons */
.btn-primary, .btn-secondary {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  text-decoration: none;
}
.btn-primary{
  color: var(--color-button-text);
}
.btn-secondary{
  color: var(--color-secondary-button-text);
}
.btn-primary:hover, .btn-secondary:hover {
  background-position: right center; 
  color: #000;
}
.btn-primary {
  background-image: linear-gradient(to right, var(--color-secondary-button-text) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: left bottom;
}
.btn-secondary {
  background-image: linear-gradient(to right, var(--color-secondary) 50%, #fff 50%);
}

.btn-secondary {
  background-image: linear-gradient(to right, var(--color-button) 50%, #fff 50%);
}

.btn-primary {
  background-color:var(--color-button);
}

.btn-secondary {
  background-color: var(--color-secondary-button-text); 
}
.btn-secondary.outline{
  border: solid 1px var(--color-secondary-button-text);
  background: transparent;
}
.btn-primary.outline{
  border: solid 1px var(--color-button-text);
  background: transparent;
}